@using Disqus
@using Disqus.Services
@model DisqusException
@inject IDisqusService disqusService

@if (Model.ErrorCode == DisqusException.DisqusErrorCode.AUTHENTICATION_REQUIRED)
{
    await Html.RenderPartialAsync("_DisqusLoginForm.cshtml");
}
else
{
<div>
    <p>I'm sorry, there was a problem loading Disqus comments: @Model.Message</p>
</div>
}
