@using Disqus
@using Disqus.Services
@model DisqusException
@inject IDisqusService disqusService

@if (Model.ErrorCode == DisqusException.DisqusErrorCode.AUTHENTICATION_REQUIRED)
{
    await Html.RenderPartialAsync("_DisqusLoginForm.cshtml");
}
else
{
<div>
    <b>@Model.ErrorCode</b>
    <p>@Model.Message</p>
</div>
}
