@using Disqus.Models
@using Disqus.Services
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kentico.Content.Web.Mvc
@model DisqusPost
@inject IDisqusService disqusService

@if (!disqusService.IsAuthenticated())
{
    <p>Please <a href="@disqusService.GetAuthenticationUrl()" target="_blank">login</a> to post</p>
}
else
{
    <form class="post-form" asp-action="SubmitPost" asp-controller="Disqus" asp-antiforgery="true" onsubmit="replaceForm(event)">
        <page-data />

        <div class="form-group">
            <div class="form-group-input">
                <input asp-for="Message" />
                <span asp-validation-for="Message" class="message message-error"></span>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
}