@using Disqus.Models
@using Disqus.Services
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kentico.Content.Web.Mvc
@model DisqusPost
@inject IDisqusService disqusService

@if (!disqusService.IsAuthenticated())
{
    await Html.RenderPartialAsync("_DisqusLoginForm.cshtml");
}
else
{
    <form class="post-form" asp-action="SubmitPost" asp-controller="Disqus" asp-antiforgery="true" onsubmit="replaceForm(event)">
        <input asp-for="Thread" />
        <input asp-for="Parent" />

        <div class="form-group row">
            <div class="col-auto">
                <img class="disqus-user-avatar-sm" src="@disqusService.CurrentUser.Avatar" />
            </div>
            <div class="col p-0 form-group-input">
                <input asp-for="Message" />
                <span asp-validation-for="Message" class="message message-error"></span>
            </div>
            <span class="form-posting-as">You're posting as @disqusService.CurrentUser.FullName</span>
        </div>
        <input type="submit" value="Submit" class="btn btn-secondary btn-sm" />
    </form>
}