@using Disqus.Models
@model DisqusComponentViewModel

<link rel="stylesheet" href="/disqus.css" />

<div id="disqus_thread" class="container">
    @if (Model.Exception != null)
    {
        await Html.RenderPartialAsync("_DisqusException.cshtml", Model.Exception);
    }
    else
    {
        <h1>@Model.Header</h1>
        await Html.RenderPartialAsync("_DisqusPostForm.cshtml", new DisqusPost() { Thread = Model.ThreadID });

        foreach (var post in Model.Posts.Where(p => string.IsNullOrEmpty(p.Parent)))
        {
            await Html.RenderPartialAsync("_DisqusPost.cshtml", post);
        }
    }
</div>
