@using Disqus
@using Disqus.Services
@model DisqusException
@inject IDisqusService disqusService

@if (Model.ErrorCode == DisqusException.DisqusErrorCode.AUTHENTICATION_REQUIRED)
{
    await Html.RenderPartialAsync("_DisqusLoginForm.cshtml");
}
else
{
    <h3>@Model.ErrorCode</h3>
    <p>@Model.Message</p>
}
