#disqus_thread {
    font-size: 14px;
}

#disqus_thread .disqus-post, #disqus_thread .child-post {
    margin: 10px 0px;
    padding-right: 0px;
    position: relative;
}

#disqus_thread .disqus-post > .col, #disqus_thread .child-post > .col {
    padding: 0px;
}

#disqus_thread .disqus-post {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 0px;
    border-left: 4px solid rgba(0, 0, 0, 0.3);
}

#disqus_thread .post-flag-container {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 10px;
}

#disqus_thread .post-flag-container button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    opacity: .1;
}

#disqus_thread .post-flag-container button:hover {
    opacity: .4;
}

#disqus_thread .child-post {
    padding-top: 10px;
}

#disqus_thread .post-content {
    margin-top: 10px;
    font-size: 14px;
}

#disqus_thread .post-author {
    font-weight: 500;
    font-size: 13px;
}

#disqus_thread .post-date {
    font-size: 11px;
    color: #888;
}

#disqus_thread .post-main {
    padding-right: 0px;
    padding-left: 0px;
}

#disqus_thread .row {
    padding-right: 0px;
}

#disqus_thread .post-footer .btn {
    background-color: transparent !important;
    color: #333;
    padding: 0px;
    letter-spacing: 0.5px;
    font-size: 11px;
}

#disqus_thread .post-footer .btn:hover {
    background-color: transparent;
}

#disqus_thread .post-footer .social-sharing .share-button {
    color: #fff;
    font-weight: 800;
    width: 18px;
    height: 18px;
    line-height: 1;
    overflow: hidden;
    border-radius: 3px;
    background: rgba(104,122,134,.8);
    opacity: .5;
}

#disqus_thread .post-sidebar {
    text-align: center;
    max-width: 84px
}

#disqus_thread .post-sidebar a {
    color: #333;
    text-decoration: none;
}

.disqus-user-avatar {
    width: 52px;
    border-radius: 5px;
    border: 2px solid #888;
}

.disqus-user-avatar-xl {
    width: 74px;
    border-radius: 7px;
    border: 3px solid #888;
}

.disqus-user-avatar-sm {
    width: 32px;
    border-radius: 3px;
    border: 1px solid #888;
}

.disqus-user-avatar-xs {
    width: 25px;
    border-radius: 2px;
    border: 1px solid #888;
}

#disqus_thread .post-reply-container .post-form .btn {
    width: 100px;
}

#disqus_thread .post-footer button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#disqus_thread .vote-button:disabled {
    color: #ccc;
    cursor: default;
}

#disqus_thread .post-form .btn {
    font-size: 12px;
}

#disqus_thread .post-form .form-posting-as {
    font-size: 14px;
    color: #888;
}

#user_modal .user-activity-highlight {
    background-color: #e4f8ff;
}

#user_modal .user-activity-footer {
    color: #9a9a9a;
}

#user_modal .user-activity-footer a {
    color: #9a9a9a;
}

#user_modal .modal-footer .user-detail-stats {
    color: #666;
}

#user_modal .modal-footer .user-detail-stats span {
    font-size: 24px;
    font-weight: bold;
}

#disqus_thread .post-form #editor_container {
    height: 120px;
}

#disqus_thread .post-form .editor-wrapper {
    min-height: 190px;
    max-width: 600px;
    padding-right: 20px;
    padding-left: 0px;
}

.ql-editor, .ql-toolbar {
    background-color: #fafafa;
}